trunk/src/conf/xml-resources/web-service-references/StudentService.asmx/wsdl/localhost_1218/Pas_Sylvana/StudentService.asmx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetStudenten">
        <s:complexType />
      </s:element>
      <s:element name="GetStudentenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStudentenResult" type="tns:ArrayOfStudentInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfStudentInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="StudentInfo" nillable="true" type="tns:StudentInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="StudentInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Studentnr" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Naam" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Voornaam" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Studiejaar" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Paswoord" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="GeindividualiseerdTraject" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Projecten" type="tns:ArrayOfInt" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetStudentenSoapIn">
    <wsdl:part name="parameters" element="tns:GetStudenten" />
  </wsdl:message>
  <wsdl:message name="GetStudentenSoapOut">
    <wsdl:part name="parameters" element="tns:GetStudentenResponse" />
  </wsdl:message>
  <wsdl:portType name="StudentServiceSoap">
    <wsdl:operation name="GetStudenten">
      <wsdl:input message="tns:GetStudentenSoapIn" />
      <wsdl:output message="tns:GetStudentenSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StudentServiceSoap" type="tns:StudentServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStudenten">
      <soap:operation soapAction="http://tempuri.org/GetStudenten" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="StudentServiceSoap12" type="tns:StudentServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStudenten">
      <soap12:operation soapAction="http://tempuri.org/GetStudenten" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StudentService">
    <wsdl:port name="StudentServiceSoap" binding="tns:StudentServiceSoap">
      <soap:address location="http://localhost:1218/Pas_Sylvana/StudentService.asmx" />
    </wsdl:port>
    <wsdl:port name="StudentServiceSoap12" binding="tns:StudentServiceSoap12">
      <soap12:address location="http://localhost:1218/Pas_Sylvana/StudentService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>